{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <script src="https://cdn.tiny.cloud/1/5ajckg3ovoim2iyeshxnla5dbdif2o0f6xbt9ylee30w5bau/tinymce/5/tinymce.min.js"></script>
    <script>tinymce.init({selector: 'textarea'});</script>
    <div class="container p-0 mb-5">
        <div class="card mb-4 shadow-lg">
            <div class="card-body">
                <div class="container pl-0">
                    <h2 class="card-title">{{ object.title }}</h2>
                </div>
                <div class="container pl-0">
                    <p class="card-text">{{ object.content | safe | escape }}</p>
                </div>
                {% if object.file %}
                    <div class="text-right">
                        <a href="/media/{{ object.file }}">
                            <img class="icon-pdf" src="/media/icon_pdf.png">
                            {{ size }} Mb
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="container card-footer text-muted row ml-0 mr-0">
                <div class="col pl-0">
                    {% if post.date %} {{ object.date|date:"F d, Y" }}.- {% endif %}
                    {% if post.journal %} {{ post.journal }}.- Т. {% endif %}
                    {% if post.volume %} {{ post.volume }}, № {% endif %}
                    {% if post.number %} {{ post.number }} {% endif %}
                </div>
                <div class="col float-right text-right pr-0">
                    <a class="pr-2"
                       href="{% url 'user-detail' object.author.profile.user_id %}">{{ object.author.first_name }} {{ object.author.last_name }}</a>
                    <img class="preview-image img-thumbnail rounded-circle" src="{{ object.author.profile.image.url }}">
                </div>
            </div>
        </div>
    </div>

    {% for comment in comments %}
        <div class="container shadow-lg comment p-0">
            <div class="mb-3 card">
                <div class="card-body">
                    <div class="container pl-0">
                        <img class="mb-2 preview-image img-thumbnail rounded-circle"
                             src="{{ сomment.author.profile.image.url }}">
                        <a href="{% url 'user-detail' comment.author.profile.user_id %}">{{ comment.author.first_name }} {{ comment.author.last_name }}</a>

                    </div>
                    <div class="container mb-2">
                        <p class="card-text">{{ comment.content }}</p>
                    </div>
                    <div class="container m-1">
                        <span class="badge badge-primary" style="float: right;">
                            {{ comment.date|date:"F d, Y" }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <div class="card mb-4 shadow-lg">
            <form method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <p class="card-text">{{ form|crispy }}</p>
                    <button class="btn btn-dark" type="submit">Сохранить</button>
                </div>
            </form>
        </div>

        {% if object.author == user or role == 'moderator' %}
            <div class="text-right mb-4">
                <a class="btn bg-blue text-white mr-1" href="{% url 'post-update' object.id %}">Изменить</a>
                <a class="btn btn-danger text-white" href="{% url 'post-delete' object.id %}">Удалить</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}

