{% extends 'blog/base.html' %}
{% block content %}
	<h1 class="my-4">Пользователи</h1>
	{% for user_ in users %}
		<div class="card">
			<div class="card-body row m-0 p-3">
				<div class="col-5 text-left">
					<a class="text-info" href="{% url 'user-detail' user_.profile.user_id %}">
                        <img class="preview-image img-thumbnail rounded-circle mr-1" src="{{ user_.profile.image.url }}">
                        <h5 class="card-title mt-3 mb-0 pb-0">{{ user_.username }}</h5>
                    </a>
				</div>
                <div class="col-5 pt-4">
					{{ user_.profile.access }}
				</div>
				<div class="col-2 text-right pt-4">
					<a class="btn btn-danger text-white" href="{% url 'user-delete' user_.id %}">Удалить</a>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock content %}
